body {
    padding-top:0 !important;
    overflow: hidden;
    background-color: #ebebeb;
}

.login-area{
    position:fixed;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 100%;
    width: 100%;
}

.login-item{
    width:18rem;
    margin-bottom: 10rem;
    align-self:center;
}

.login-item .title{
    color: #ebebeb;
    text-align: center;
    padding: 0.5rem 0 0.5rem;
    border-bottom:none;
}
.login-item .input-area{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.login-item .input-item{
    width: 100%;
    border-radius: 5px;
    border:1px solid #ebebeb;
    padding:0.5rem;
}
