<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Ripple</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body ms-controller="loginVm">

<wbr :widget="{$id:'topAlert',is:'top-alert'}" />

<div class="login-area">
        <div class="login-item">
            <h2 class="title">Ripple</h2>
            <form :validate="@validate" autocomplete="off">
                <div class="input-area form-text">
                    <input class="input-item" name="phone" placeholder="手机号" lay-verify="required" type="text" autocomplete="new-password" :duplex="@phone" :rules="{ required: true}" data-required-message="请输入手机号" >
                </div>
                <div class="input-area">
                    <input class="input-item" name="password" placeholder="密码" lay-verify="required" type="password" autocomplete="new-password" :duplex="@password" :rules="{ required: true}" data-required-message="请输入密码">
                </div>
                <button type="button" class="btn btn-outline-secondary  btn-block" :click="@login">登录</button>
            </form>
        </div>
</div>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>