<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Ripple</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="stylesheet" href="./layui/css/layui.css">
</head>
<body class="layui-layout-body" ms-controller="loginVm">
<div class="login">
    <h1>Ripple</h1>
    <form :validate="@validate">
        <div class="layui-form-item">
            <input class="layui-input" name="phone" placeholder="手机号" lay-verify="required" type="text" autocomplete="off" :duplex="@phone" :rules="{ required: true}" data-required-message="请输入手机号">
        </div>
        <div class="layui-form-item">
            <input class="layui-input" name="password" placeholder="密码" lay-verify="required" type="password" autocomplete="off" :duplex="@password" :rules="{ required: true}" data-required-message="请输入密码">
        </div>
        <button class="layui-btn login_btn" type="button" :click="@login">登录</button>
    </form>
</div>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <script type="text/javascript" src="./layui/layui.js "></script>
    <script>
        layui.use('layer')
    </script>
</body>
</html>